swagger: '2.0'
info:
  title: "Swagger Design-Driven DevOps Demo"
  description: "Your Potential, Our Passion."
  version: "1.0.0"
store-types: 

host: "kong.fastretailing.com"
schemes:
  - "https"
basePath: "/v1"
tags:
- name: "greeting"
  description: "Greetings Service"
produces:
  - "application/json"
paths:
  '/helloworld:'
    get:
      summary: "Returns Hello World"
      description: |
        "Returns Hello World with Name"
      produces:
      - "application/json"
      tags:
        - "greeting"
      responses:
        200:
          description: "Say Hello World"
          schema:
              $ref: '#/definitions/HelloWorld'
        default:
          description: "Unexpected error"
          schema:
            $ref: '#/definitions/Error'
  '/goodbye:'
    get:
      summary: "Say GoodBye"
      description: |
        "Returns GoodBye with Reason"
      produces:
      - "application/json"
      tags:
        - "greeting"
      responses:
        200:
          description: "Say Good Bye"
          schema:
            $ref: '#/definitions/GoodBye'
        default:
          description: "Unexpected error"
          schema:
              $ref: '#/definitions/Error'
  '/api/{region}/{brandCode}/store-types':
    get:
      summary: "API that returns all store types"
      description: |
        "Returns store types based on store area and brand code"
      produces:
      - "application/json"
      tags:
        - "API"
      responses:
        200:
          description: "store-types"
          schema:
            $ref: '#/definitions/store-types'
        default:
          description: "Unexpected error"
          schema:
              $ref: '#/definitions/Error'
  '/api/{region}/{brandCode}/{version}/getStoreDetail.json':
    get:
      summary: "API that returns store details of a specific storeId"
      description: |
        "Returns details of a specific store. inputs are region, brand code and store id"
      produces:
      - "application/json"
      tags:
        - "API"
      responses:
        200:
          description: "store-details"
          schema:
            $ref: '#/definitions/store-details'
        default:
          description: "Unexpected error"
          schema:
              $ref: '#/definitions/Error'            
definitions:
  HelloWorld:
    type: object
    required:
    - "helloworld"
    - "name"
    properties:
      helloworld:
          type: "string"
          description: "helloword"
          example: "Hello World!"
      name:
          type: "string"
          description: "name of person"
          example: "kenta san"
  GoodBye:
    type: "object"
    required:
    - "goodbye"
    - "reason"
    properties:
      goodbye:
        type: "string"
        description: "goodbye"
        example: "Good Bye!"
      reason:
        type: "string"
        description: "Reason of Good Bye"
        example: "I am going Back Office!"
  store-types:
    type: "object"
    required:
    - "brand_code"
    - "region"
    - "count"
    - "storeTypes"
    properties:
      brand_code:
        type: "string"
        description: "brand_code"
        example: "UNIQLO"
      region:
        type: "string"
        description: "region"
        example: "JP"
      count:
        type: "number"
        format: "float"
        description: "count"
        example: "3"
      storeTypes:
        type: "array"
        description: "store-types"
        example : [{ "id": 1000,
                      "name": "None",
                      "active_flag": 1 }]
  store-details:
    type: "object"
    description: "store-details"  
    properties:
      brand_code:
        type: "string"
        description: "Brand code for the selected store"
        example: "UNIQLO"
      store_id:
        type: "number"
        format: "float"
        description: " International store ID"
        example: "10100387"
      area0_code:
        type: "number"
        format: "float"
        description: "Area code for region"
        example: "2"
      area1_code:
        type: "number"
        format: "float"
        description: "Area code for district(state, prefecture, province)"
        example: "1" 
      open_date:
        type: "number"
        format: "float"
        description: "Store opening date"
        example: ""
      store_name:
        type: "string"
        description: "store name"
        example: "ユニクロ ひばりが丘タウンプラザ店"
      store_name_phonogram:
        type: "string"
        description: "store name in phonogram"
        example: "ヒバリガオカタウンプラザテン"
      country_name_short:
        type: "string"
        description: "country name short"
        example: "JP"
      postcode:
        type: "number"
        format: "float"
        description: "postcode of store "
        example: "40052"
      area0_name:
        type: "string"
        description: "area name for region"
        example:  "北海道"
      area1_name: 
        type: "string"
        description: "Area name for district(state, prefecture, province)"
        example: "北海道"
      municipality:
        type: "string"
        description: "Name of municupality" 
        example:  "札幌市厚別区"
      number:
        type: "string"
        description: "Address number"
        example: "厚別中央2条2―2―2 ひばりが丘タウンプラザ内"
      building:
        type: "string"
        description: "Building name and floor."
        example: ""
      address:
        type: "string"
        description: "Address for search."
        example: "厚別中央2条2―2―2 ひばりが丘タウンプラザ内"
      address_phonogram:
        type: "string"
        description: "Address for search in phonogram."
        example: "ホッカイドウサッポロシアツベツクアツベツチュウオウニジョウ"
      phone:
        type: "number"
        format: "float"
        description: "Phone number"
        example: "011-801-1123"
      fax:
        type: "number"
        format: "float"
        description: "fax number"
        example: ""
     car_access:
        type: "string"
        description: "Car access information"
        example: "国道12号線沿い、札幌方面より江別方面へ直進、右側、ひばりが丘タウンプラザ内"
      bus_access:
        type: "string"
        description: "Bus access information"
        example: "1)地下鉄東西線新札幌駅発「白27山本、旭町経由、山本4区」行き、市営バス利用「ひばりが丘駅前」降車、徒歩5分\n2)空知線札幌駅発「新札幌駅」行き、JR北海バス利用「旭町」降車、徒歩1分",
      train_access:
        type: "string"
        description: "Train access information"
        example: "地下鉄東西線「ひばりが丘」駅下車、1番出口より徒歩5分"
      wd_open_at:
        type: "string"
        description: "Weekday opening time"
        example: "10:00:00"
      wd_close_at:
        type: "string"
        description: "Weekday closing time"
        example: "20:00:00"
      we_open_at:
        type: "string"
        description: "Weekend and holiday opening time"
        example: "10:00:00"
      we_close_at:
        type: "string"
        description: "Weekend and holiday closing time"
        example: "20:00:00"
      open_hours:
        type: "string"
        description: "Irregular opening hours"
        example: ""
      store_holiday:
        type: "string"
        description: "Regular holiday"
        example: ""
     store_url:
        type: "string"
        description: "Store URL"
        example: "http://www.uniqlo.com/jp/shop/info/#10100387"
      comment1:
        type: "string"
        description: "store comment"
        example: ""
      comment2:
        type: "string"
        description: "store comment"
        example: ""
      comment3:
        type: "string"
        description: "store comment"
        example: "パンツの裾上げサービスあり。"
      announcement:
        type: "string"
        description:
        example: "免税（TAX　FREE）対応中。"
      parking_flg:
        type: "integer"
        description: "Whether this store has a parking space. (0: no, 1: yes)"
        example: 1
      parking_max:
        type: "string"
        description: "maximum parking space"
        example: "0"
      parking_comment:
        type: "string"
        description: "comment about parking"
        example: "600台　※他店舗共同駐車場"
      parking_coupon_flag:
        type: "integer"
        description: "Whether this store has a parking coupon. (0: no, 1: yes)"
        example: 0
      new_flag:
        type: "integer"
        description: "Wheter this store is newly opened. (0: no, 1: yes)"
        example: 0
      refit_flag:
        type: "integer"
        description: "Store is refit. (0: no, 1: yes)"
        example: 0 
      kids_flag:
        type: "integer"
        description: "Whether this store has items for kids. (0: no, 1: yes)"
        example: 1
      baby_flag:
        type: "integer"
        description: "Whether this store has items for babies. (0: no, 1: yes)"
        example: 1 
      chirashi_image_url:
        type: "string"
        description: "Flier image URL"
        example: ""
      chirashi_link_target:
        type: "string"
        description: "Flier link target"
        example: ""
      chirashi_text:
        type: "string"
        description: "Text for fliers"
        example: "" 
      my_store_flag:
        type: "integer"
        description: "Whether “my store news” is available for this store. (0: no, 1: yes)"
        example: 1 
      g1_ims_store_id_4:
        type: "string"
        description: "IMS Store ID (4digit)"
        example: "0387"
      g1_ims_store_id_6:
        type: "string"
        description: "IMS Store ID (6digit)"
        example: "100475"
      g1_ims_store_id_13:
        type: "string"
        description: "IMS Store ID (13digit)"
        example: "S1001000387"
      regional_recruit_flg:
        type: "integer"
        description: "Link flag regional regular employment. (0: no, 1: yes)"
        example: 1
      regional_recruit_link_url:
        type: "string"
        description: "URL of regional regular employment."
        example: "http://www.fastretailing.com/employment/career/jp/uniqlo/?shop=387"
      recruit_flg:
        type: "integer"
        description: "Link flag of employment. (0: no, 1: yes)"
        example: 0
      recruit_link_url:
        type: "string"
        description: "URL of employment."
        example: "https://uniqlo-staff.jp/jobfind-pc/job/All/2316"
      lat:
        type: "string"
        description: "Latitude(World Geodetic System)"
        example: "43.0339946"
      lon:
        type: "string"
        description: "Longitude(World Geodetic System)"
        example: "141.4602145"
      store_type_code:
        type: "integer"
        description: "Store type (1000: normal, 1001: large, 1005: extra large)"
        example: 1000
      floor_map_flg:
        type: "integer"
        description: "A flag to indicate if floor map of the store is available online. (0: no, 1: yes)"
        example: 1
      inventory_flg:
        type: "integer"
        description: "Flag to indicate if store inventory can be checked online. (0: no, 1: yes)"
        example: 1  
      women_flg:
        type: "integer"
        description: "Whether this store has items for women. (0: no, 1: yes)"
        example: 0
      men_flg:
        type: "integer"
        description: "Whether this store has items for men. (0: no, 1: yes)"
        example: 0  
      mon_open_at:
        type: "string"
        description: "Opening time on Monday."
        example: "10:00"
      mon_close_at:
        type: "string"
        description: "Closing time on Monday."
        example: "20:00"
      tue_open_at:
        type: "string"
        description: "Opening time on Tuesday."
        example: "10:00"
      tue_close_at:
        type: "string"
        description: "Closing time on Tuesday."
        example: "20:00"
      wed_open_at:
        type: "string"
        description: "Opening time on Wednesday."
        example: "10:00"
      wed_close_at:
        type: "string"
        description: "Closing time on Wednesday."
        example: "20:00"
      thu_open_at:
        type: "string"
        description: "Opening time on Thursday."
        example: "10:00"
      thu_close_at:
        type: "string"
        description: "Closing time on Thursday."
        example: "20:00"
      fri_open_at:
        type: "string"
        description: "Opening time on Friday."
        example: "10:00"
      fri_close_at:
        type: "string"
        description: "Closing time on Friday."
        example: "20:00"
      sat_open_at:
        type: "string"
        description: "Opening time on Saturday."
        example: "10:00"
      sat_close_at:
        type: "string"
        description: "Closing time on Saturday."
        example: "20:00"
      sun_open_at:
        type: "string"
        description: "Opening time on Sunday."
        example: "10:00"
      sun_close_at:
        type: "string"
        description: "Closing time on Sunday."
        example: "20:00"
      hol_open_at:
        type: "string"
        description: "Opening time on Holiday."
        example: ""
      hol_close_at:
        type: "string"
        description: "Closing time on Holiday."
        example: ""  
      store_delivery_flg:
        type: "integer"
        description: "Stores delivery flag. (0:no, 1:yes)"
        example: 1
      click_and_collect_flg:
        type: "integer"
        description: "Stores have omni channel. (0:no, 1:yes)"
        example: 0        
  Error:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      message:
        type: "string"
      description:
        type: "string"